html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

body {
  font-family: Montserrat;
  font-size: 1em;
  clear: both; }

input {
  font-family: Montserrat;
  border: 0; }

select, button {
  font-family: Montserrat; }

*:focus {
  outline: none; }

i {
  vertical-align: middle; }

@media (max-width: 1023px) {
  .visible-phone {
    display: block !important; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .visible-phone {
    display: none !important; } }

@media (min-width: 1440px) {
  .visible-phone {
    display: none !important; } }

@media (max-width: 1023px) {
  .hidden-phone {
    display: none; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .hidden-tablet {
    display: none; } }

@media (min-width: 1440px) {
  .hidden-desktop {
    display: none; } }

@media (max-width: 1023px) {
  .w100-phone {
    width: 100% !important; } }

.none {
  display: none; }

.center {
  text-align: center; }

.container {
  padding: 0 34px; }
  @media (max-width: 1023px) {
    .container {
      padding: 0 10px; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .container {
      padding: 0 15px; } }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.left {
  float: left; }

.right {
  float: right; }

i + input, span + input {
  padding-left: 10px; }

#left::-webkit-scrollbar {
  width: 3px;
  height: 0; }

#details::-webkit-scrollbar {
  height: 3px; }

#left::-webkit-scrollbar-thumb, #details::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px; }

#left:hover::-webkit-scrollbar-thumb, #details:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45); }

#left::-webkit-scrollbar-thumb:hover, #details::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.55); }

#left {
  width: 17%;
  background-color: #702283;
  float: left;
  height: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: auto; }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #left {
      width: 6%;
      background-color: #702283;
      float: left; } }
  @media (max-width: 1023px) {
    #left {
      width: 70%;
      background-color: #702283;
      float: left; } }
  #left #logo {
    padding: 19px 0;
    background-color: #4C1367;
    text-align: center; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #left #logo img {
        width: 80%; } }
  #left nav .user {
    background-color: #FFFFFF;
    border-left: 1px solid #C9C9C9; }
    #left nav .user .user-detail {
      display: inline-table;
      padding: 18px 12px; }
      #left nav .user .user-detail p {
        margin: 0;
        padding: 1px 0; }
      #left nav .user .user-detail p.name {
        font-size: 87.5%;
        color: #DF542A; }
      #left nav .user .user-detail p.auth {
        font-size: 68.75%;
        color: #626272;
        font-weight: bold; }
      #left nav .user .user-detail p.more {
        color: #CDCDCD;
        font-size: 68.75%;
        position: absolute;
        bottom: 28px;
        right: 13px;
        cursor: pointer;
        -ms-transform: rotate(90deg) !important;
        -webkit-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important; }
  #left nav .user {
    border: 0; }
    #left nav .user .user-detail {
      padding: 5px 0 5px 22px; }
  #left nav ul li {
    color: #c27dd3;
    position: relative;
    font-weight: 600;
    line-height: 34px;
    padding: 15px 0 15px 25px;
    font-size: 87.5%;
    cursor: pointer; }
    #left nav ul li .more {
      font-size: 68.75%;
      position: absolute;
      right: 10px;
      top: 27px; }
    #left nav ul li i {
      padding-right: 15px; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #left nav ul li {
        padding: 15px 0 10px 25px; }
        #left nav ul li label {
          display: none; } }
  #left nav ul li.active {
    background-color: rgba(76, 19, 103, 0.5);
    box-shadow: 0 -1px 0 0 #4C1367, 0 1px 0 0 #4C1367;
    color: #FFFFFF;
    padding: 15px 0 15px 19px;
    border-left: 7px solid #65b32e; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #left nav ul li.active {
        padding: 15px 0 10px 19px; } }

#poweredby {
  position: absolute;
  bottom: 22px;
  text-align: center;
  width: 100%; }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #poweredby img {
      width: 100%; } }
  @media (max-width: 1023px) {
    #poweredby {
      position: relative;
      margin-top: 25px; } }

@media (max-width: 1023px) {
  .poweredby-phone {
    display: block !important;
    position: fixed !important;
    background-color: #702283;
    bottom: 0 !important;
    z-index: 5; } }

#right {
  width: 83%;
  background-color: #F4F7F8;
  float: left;
  min-height: 100%; }
  @media (max-width: 1023px) {
    #right {
      padding-bottom: 55px; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    #right {
      width: 94%;
      background-color: #F4F7F8;
      float: left; } }
  @media (max-width: 1023px) {
    #right {
      width: 100%;
      background-color: #F4F7F8;
      float: left; } }
  #right #cover {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 4;
    display: none;
    width: 100%;
    height: 100vh; }
  #right #top {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 1px 0 0 #C9C9C9; }
    #right #top .search {
      padding: 25.5px 0; }
      #right #top .search i {
        color: #EFA459; }
      #right #top .search input {
        color: #8f9fae;
        font-size: 87.5%; }
    #right #top .user {
      background-color: #FFFFFF;
      border-left: 1px solid #C9C9C9; }
      #right #top .user .user-detail {
        display: inline-table;
        padding: 18px 12px; }
        #right #top .user .user-detail p {
          margin: 0;
          padding: 1px 0; }
        #right #top .user .user-detail p.name {
          font-size: 87.5%;
          color: #DF542A; }
        #right #top .user .user-detail p.auth {
          font-size: 68.75%;
          color: #626272;
          font-weight: bold; }
        #right #top .user .user-detail p.more {
          color: #CDCDCD;
          font-size: 68.75%;
          position: absolute;
          bottom: 28px;
          right: 13px;
          cursor: pointer;
          -ms-transform: rotate(90deg) !important;
          -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important; }
  #right #top-phone {
    background-color: #702283;
    padding: 16px 0;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%; }
    #right #top-phone .back, #right #top-phone .search {
      color: #EFA459;
      cursor: pointer; }
    #right #top-phone .back {
      -ms-transform: rotate(180deg) !important;
      -webkit-transform: rotate(180deg) !important;
      transform: rotate(180deg) !important; }
    #right #top-phone .title {
      color: #FFFFFF;
      font-weight: 300 !important; }
    #right #top-phone #search-box {
      display: none;
      background-color: #FFFFFF;
      position: absolute;
      bottom: -50;
      width: 100%;
      box-shadow: 0 1px 0 0 #C9C9C9; }
      #right #top-phone #search-box .search-box {
        padding: 16px 20px; }
        #right #top-phone #search-box .search-box input {
          width: 100%; }
  @media (max-width: 1023px) {
    #right #main {
      padding-top: 77px; } }
  @media (max-width: 425px) {
    #right #main {
      padding-top: 35px; } }
  #right #main .invoice h1 {
    font-size: 150%;
    font-weight: 300;
    color: #6C5E73;
    margin: 32px 0; }
    #right #main .invoice h1 span.order {
      opacity: 0.2; }
  #right #main h2 {
    line-height: 15px;
    color: #333333;
    padding: 4px 0;
    font-size: 75%; }
  #right #main #estimate {
    position: fixed;
    border: 0 !important;
    z-index: 2;
    bottom: 0;
    right: 34px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.12); }
    @media (max-width: 1023px) {
      #right #main #estimate {
        position: relative;
        right: 0;
        box-shadow: 0 0 0 0;
        border: 1px solid #C3C8CD !important; } }
    #right #main #estimate .estimate .date, #right #main #estimate .estimate .summary, #right #main #estimate .estimate .total {
      padding: 13px 18px; }
      #right #main #estimate .estimate .date span, #right #main #estimate .estimate .summary span, #right #main #estimate .estimate .total span {
        font-size: 87.5%;
        color: #626272;
        font-weight: bold; }
      #right #main #estimate .estimate .date span.left, #right #main #estimate .estimate .summary span.left, #right #main #estimate .estimate .total span.left {
        padding: 7px 0; }
      #right #main #estimate .estimate .date span.right, #right #main #estimate .estimate .summary span.right, #right #main #estimate .estimate .total span.right {
        color: #8899AA;
        text-align: right; }
        #right #main #estimate .estimate .date span.right input, #right #main #estimate .estimate .summary span.right input, #right #main #estimate .estimate .total span.right input {
          border: 1px solid #8899AA;
          border-radius: 2px;
          text-align: center;
          width: 80%;
          padding: 8px 0;
          font-size: 75%; }
    #right #main #estimate .estimate .date {
      border-bottom: 1px solid #F1F0F4; }
    #right #main #estimate .estimate .total {
      border-top: 1px solid #F1F0F4; }
      #right #main #estimate .estimate .total span.right {
        font-size: 24px;
        color: #626272; }
    #right #main #estimate .estimate .summary div + div {
      padding-top: 4px; }
    #right #main #estimate .estimate .summary span.sub-total {
      font-size: 100%; }
    #right #main #estimate .estimate .summary span.tax {
      text-align: right;
      font-size: 75%; }
      #right #main #estimate .estimate .summary span.tax input {
        border: 1px solid #8899AA;
        border-radius: 2px;
        text-align: center;
        width: 18%;
        padding: 8px 1px; }
  #right #main #addproduct, #right #main #remarks, #right #main #suply, #right #main #estimate {
    background-color: #FFFFFF;
    border: 1px solid #C3C8CD;
    border-radius: 3px;
    margin-bottom: 14px; }
    #right #main #addproduct .addproduct, #right #main #addproduct .suply, #right #main #remarks .addproduct, #right #main #remarks .suply, #right #main #suply .addproduct, #right #main #suply .suply, #right #main #estimate .addproduct, #right #main #estimate .suply {
      margin: 17px 14px; }
  #right #main #suply {
    width: 75%; }
    @media (max-width: 425px) {
      #right #main #suply {
        background-color: transparent;
        border: 0;
        margin-bottom: 0; } }
    #right #main #suply .suply p {
      margin: 0;
      padding: 1px 0; }
    #right #main #suply .suply p.name {
      font-weight: bold;
      color: #626272; }
    #right #main #suply .suply p.address, #right #main #suply .suply p.phonenumber {
      font-size: 75%;
      color: #8899AA; }
    @media (max-width: 425px) {
      #right #main #suply .suply {
        margin: 17px 0; }
        #right #main #suply .suply .right, #right #main #suply .suply .left {
          width: 100%; }
        #right #main #suply .suply .left {
          background-color: #FFFFFF;
          margin-left: -10px;
          padding-right: 20px;
          box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.11), 0 2px 3px 0 rgba(98, 98, 114, 0.21); }
          #right #main #suply .suply .left div {
            text-align: center; } }
    #right #main #suply .suply div {
      display: inline-table; }
      #right #main #suply .suply div div {
        display: inline-table;
        border-right: 1px solid #F7F7F8;
        padding: 0 11px; }
        @media (max-width: 425px) {
          #right #main #suply .suply div div {
            width: 100%;
            border: 0;
            padding: 10px 0; } }
        #right #main #suply .suply div div:first-child {
          padding-left: 0; }
        #right #main #suply .suply div div:last-child {
          padding-right: 0; }
        #right #main #suply .suply div div h4 {
          font-size: 68.75%;
          color: #626272;
          text-align: center;
          margin: 0;
          margin-bottom: 5px; }
          @media (max-width: 425px) {
            #right #main #suply .suply div div h4 {
              text-align: left; } }
        #right #main #suply .suply div div select {
          font-size: 68.75%;
          border: 1px solid #C9C9C9;
          border-radius: 4px;
          padding: 9.5px 0 9.5px 12px;
          color: #8899AA;
          width: 111px; }
          @media (max-width: 425px) {
            #right #main #suply .suply div div select {
              width: 100%;
              padding: 9.5px 0; } }
      #right #main #suply .suply div div:last-child {
        border: 0; }
  #right #main #suply_action .suply_action button {
    background-color: #8899AA;
    border-radius: 5px;
    border: 0;
    color: #FBFBFB;
    padding: 13px 19.5px;
    margin-top: 35px;
    cursor: pointer;
    font-size: 87.5%; }
    @media (max-width: 1023px) {
      #right #main #suply_action .suply_action button {
        margin-top: 0; } }
  @media (max-width: 1023px) {
    #right #main #suply_action .suply_action {
      margin-top: 15px;
      padding-bottom: 15px; } }
  @media (max-width: 425px) {
    #right #main #suply_action .suply_action {
      margin-top: 0; } }
  #right #main #suply_action .suply_action button.back {
    background-color: transparent;
    color: #626272;
    padding: 13px 40px 13px 0; }
  #right #main #addproduct {
    position: relative; }
    #right #main #addproduct .addproduct {
      color: #8899AA; }
      #right #main #addproduct .addproduct span {
        display: inline-table;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      #right #main #addproduct .addproduct input {
        font-size: 75%;
        color: #8899AA;
        width: 70%; }
  #right #main #details {
    background-color: #FFFFFF;
    border: 1px solid #C3C8CD;
    border-radius: 3px;
    margin-bottom: 14px;
    overflow-x: auto; }
    #right #main #details div {
      position: relative; }
      #right #main #details div table {
        width: 100%;
        border-collapse: collapse; }
        #right #main #details div table tr th {
          font-size: 50%;
          font-weight: bold;
          line-height: 10px;
          color: #626272;
          text-align: left;
          padding: 17px;
          border: 0; }
        #right #main #details div table tr td {
          padding: 17px;
          font-size: 68.75%;
          color: #8899AA; }
          #right #main #details div table tr td i {
            cursor: pointer;
            font-size: 120%; }
        #right #main #details div table tr td.remove {
          color: #626272;
          text-decoration: underline;
          font-size: 62.5%;
          cursor: pointer; }
        #right #main #details div table tr td.details {
          max-width: 160px; }
        #right #main #details div table tr td.setprice a {
          text-align: center;
          color: #CD171A; }
        #right #main #details div table tr:nth-child(odd) {
          background-color: #fcfcfc; }
  #right #main #remarks p {
    margin: 17px 14px;
    font-size: 75%;
    color: #8899AA;
    line-height: 17px; }

.icon {
  background: url("/images/icons.png") no-repeat top left; }

.icon-accessibility {
  background-position: 0 0;
  width: 32px;
  height: 32px; }

span.transform45 {
  -ms-transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important; }

.close {
  cursor: pointer; }
